#Loguin
USUARIO=seu_usuario_aqui
SENHA=sua_senha_aqui

#Variaveis
quant_scrolagem = 1 # número de vezes que a página será rolada para carregar posts
rolagem_comentarios = 1  # número de vezes que a página será rolada para carregar mais comentários
total_posicoes = 5  # número de posições a exibir no ranking final

# Período para filtrar posts (especificar aqui no formato YYYY-MM-DD ou deixe vazio caso não queira filtrar por um período)
PERIOD_START =  # exemplo: "2025-01-01" 
PERIOD_END =     # exemplo: "2025-01-31" 

#Perfils
PERFIS=perfil1,perfil2